.grid-test {
  display: grid;
  grid-template-columns:
    1fr [col-start] minmax(min-content, 80vw)
    [col-end] 1fr;
  grid-template-rows: repeat(
    6,
    [row-start] minmax(min-content, max-content) [row-end]
  );
  row-gap: 5rem;
}

.row {
  display: grid;
  grid-column: col-start / col-end;
  &__1 {
    grid-template-columns: repeat(13, [col-start] 1fr [col-end]);
    grid-row: row-start / row-end;
    & > * {
      background-color: red;
      padding: 2rem;
      color: white;
    }
    &-col-1 {
      grid-column: col-start / col-end 6;
    }
    &-col-2 {
      grid-column: col-start 8 / col-end 13;
    }
  }
  &__2 {
    grid-template-columns: repeat(14, [col-start] 1fr [col-end]);
    grid-row: row-start 2 / row-end 2;
    & > * {
      padding: 2rem;
      color: white;
      background-color: blue;
    }
    &-col-1 {
      grid-column: col-start / col-end 4;
    }
    &-col-2 {
      grid-column: col-start 6 / col-end 9;
    }
    &-col-3 {
      grid-column: col-start 11 / col-end 14;
    }
  }
  &__3 {
    grid-template-columns: repeat(14, [col-start] 1fr [col-end]);
    grid-row: row-start 3 / row-end 3;
    & > * {
      padding: 2rem;
      color: white;
      background-color: aqua;
    }
    &-col-1 {
      grid-column: col-start / col-end 4;
    }
    &-col-2 {
      grid-column: col-start 6 / col-end 14;
    }
  }
  &__4 {
    grid-template-columns: repeat(15, [col-start] 1fr [col-end]);
    grid-row: row-start 4 / row-end 4;
    & > * {
      padding: 2rem;
      color: white;
      background-color: violet;
    }
    &-col-1 {
      grid-column: col-start / col-end 3;
    }
    &-col-2 {
      grid-column: col-start 5 / col-end 7;
    }
    &-col-3 {
      grid-column: col-start 9 / col-end 11;
    }
    &-col-4 {
      grid-column: col-start 13 / col-end 15;
    }
  }
  &__5 {
    grid-template-columns: repeat(15, [col-start] 1fr [col-end]);
    grid-row: row-start 5 / row-end 5;
    & > * {
      padding: 2rem;
      color: white;
      background-color: brown;
    }
    &-col-1 {
      grid-column: col-start / col-end 3;
    }
    &-col-2 {
      grid-column: col-start 5 / col-end 7;
    }
    &-col-3 {
      grid-column: col-start 9 / col-end 15;
    }
  }
  &__6 {
    grid-template-columns: repeat(15, [col-start] 1fr [col-end]);
    grid-row: row-start 6 / row-end 6;
    & > * {
      padding: 2rem;
      color: white;
      background-color: green;
    }
    &-col-1 {
      grid-column: col-start / col-end 3;
    }
    &-col-2 {
      grid-column: col-start 5 / col-end 15;
    }
  }
}
