/* This file will be for the real low level basics,
 such as resets and styles for the HTML and BODY elements*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherite from body -- better practice to inherit the box-sizing , like so */
  box-sizing: inherit;
}

/* the root font size is set in the html el , this defines what is the value of 1 rem */
/* (10 * 100) / 16 = 62.5% */
html {
  font-size: 62.5%; //

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/ 16 = 75%
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
